									
									<!-- Article template

1. you can adjust color/cover image by adding style into css. e.g.

.tiles article.style10 > .image:before {
				background-color: #cccccc;
			}
			
2. change path to image in <img src"" atribute
3. change H2 title
4. add !short! description into DIV - content
6. create page using xls template and xml. Update path to this page in <a href=" tag
6. place the code among other articles in index.html file
7. post to github


-->
									<article class="style10" >
									<span class="image">
										<img src="images/%ProjectName%/%ImageName%" alt="" />
									</span>
									<a href="pages/%YourPageFileName%">
										<h2>%TITLE OF PROJECT%</h2>
										<div class="content">
											<p>%Short description of project%</p>
										</div>
									</a>
								</article>
